html,
body {
    height: 100%;
    min-height: 100%;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

#board {
    display: table;
    margin: 0 auto;
}

#wrapper {
    background-color: #ffe3e3;
    width: 50%;
    margin: 0 auto;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#bigwrap {
    height: 100%;
    margin: 0px;
}

#buttons {
    display: table;
    margin: 0 auto;
    margin-top: 10px;
}

#buttons button {
    background-color: #0096ff;
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

#board input {
    color: black;
    width: 50px;
    height: 50px;
    border: 1px #ffffff solid;
    margin: 0px;
    font-size: 30px;
    text-align: center;
    background-color: #93b5c6;
}

h1 {
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}
